name: Build and Push Docker Image
on:
  push:
    branches:
     - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: mohamedf0
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Publish
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: quay.io/mohamedf0/gh-actions-sample:from-docker

